nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #dcdde1;
  padding: 0;
}
nav a {
    margin: 0 1rem;
    color: #566b78;
    text-decoration: none;
    text-transform: uppercase;
}
body {
    background-color: white;
    color: #566b78;
    font-family: 'Inconsolata', monospace;
    font-size: 120%;
    line-height: 1.5;
}
h1, h2, strong {
    color: #333;
}
a {
    color: #000;
}
.intro{
    text-align: center;
    margin-top: 5%;
}
.about_us{
    text-align: center;
    margin-top: 8%;
}