body {
	background-color: #ecf0f1;
	color: #566b78;
	font-family: 'Inconsolata', monospace;
	font-size: 130%;
	line-height: 1.5;
  }
  h1, h2, strong {
	color: #333;
  }
  .intro {
	text-align: center;
	margin-top: 10%;
  }
  .about_us {
	text-align: center;
	margin-top: 8%;
  }
  ul {
	list-style-type: none;
	display: flex;
	padding: 3px 0;
	background-color: grey;
	border-radius: 40px;
	box-shadow: 3px 3px 20px grey;
  }
  li a {
	color: #fff;
	text-decoration: none;
	padding: 45px 45px;
	font-family: 'Inconsolata', monospace;
	font-weight: lighter;
	font-size: 24px;
	cursor: pointer;
	letter-spacing: 1px;
	opacity: 0.9;
  }
  .navigation {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 6%;
  }
  .table {
	display: table;
	width: 100%;
	height: 100%;
  }
  .table-cell {
	display: table-cell;
	vertical-align: middle;
  }
  .container {
	position: relative;
	width: 600px;
	margin-left: 30%;
	height: 320px;
	background-color: #80CBC4;
	margin-top: 15%;
  }
  .container .btn {
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
	width: 80px;
	color: #fff;
	background-color: #B0BEC5;
	transition: 0.5s;
  }
  .loginregister {
	margin-left: 35%;
	margin-top: 10%;
	cursor: pointer;
	font-size: 90%;
	background-color: #63cdda;
	text-decoration: none;
	border-radius: 15%;
	width: 30%;
	height: 10%;
	padding: 1%;
  }
  .loginregister:focus {
	outline: 0;
  }
  .container .btn:hover {
	background-color: grey;
  }
  .container .btn, .container input {
	padding: 10px 15px;
  }
  .container input {
	margin: 0 auto 15px;
	display: block;
	width: 220px;
  }
  .container .container-forms .container-info {
	text-align: left;
	font-size: 0;
  }
  .container .container-forms .container-info .info-item {
	text-align: center;
	font-size: 16px;
	width: 300px;
	height: 320px;
	display: inline-block;
	vertical-align: top;
	color: #fff;
	opacity: 1;
  }
  .container .container-forms .container-info .info-item p {
	font-size: 23px;
	margin-left: 20%;
  }
  .container .container-forms .container-info .info-item .btn {
	background-color: transparent;
	border: 1px solid #fff;
	margin-right: 20%;
  }
  .container .container-forms .container-info .info-item .table-cell {
	padding-right: 35px;
  }
  .container .container-form {
	overflow: hidden;
	position: absolute;
	left: 30px;
	top: -30px;
	width: 305px;
	height: 380px;
	background-color: #ECEFF1;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	transition: 0.6s;
  }
  .container .form-item {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
  }
  .container .form-item.sign-up {
	position: absolute;
	left: -100%;
	opacity: 0;
  }
  .container.log-in .container-form {
	left: 265px;
  }
  .container.log-in .container-form .form-item.sign-up {
	left: 0;
	opacity: 1;
  }
  .container.log-in .container-form .form-item.log-in {
	left: -100%;
	opacity: 0;
  }
  #uploadButton {
	border: 1% solid black;
	color: black;
	background-color: #B0BEC5;
	padding: 5px 15px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 42.2%;
	margin-top: 3%;
  }
  #uploadFile {
	border: 2% solid black;
	color: black;
	padding: 5px 15px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	margin-top: 0%;
	margin-left: 35%;
  }
  #uploadText {
	width: 30%;
	margin-top: 0%;
	margin-left: 31%;
	padding: 1%;
	border: 3px solid #B0BEC5;
  }
  #caption {
	margin-left: 38%;
	margin-top: 3%;
	font-size: 25px;
  }
  #uploadTitle {
	margin-top: 10%;
	margin-left: 31%;
	font-size: 45px;
  }
  #searchBar {
	border: 3px solid #B0BEC5;
	margin-left: 75%;
	position: absolute;
	margin-top: -8%;
	width: 20%;
	padding: 1%;
  }
  .searchButton {
	border: 1% solid black;
	color: black;
	background-color: #B0BEC5;
	padding: 5px 15px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 82%;
	text-decoration: none;
	position: absolute;
	margin-top: -4%;
  }
  .searchTitle {
	margin-top: 10%;
	font-size: 40px;
	text-align: center;
  }
  .postPic {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 15px;
	margin-left: 34%;
	width: 30%;
  }
  .postUsername {
	font-size: 35px;
	text-align: center;
	margin-bottom: -3%;
  }
  .postComment {
	font-size: 35px;
	text-align: center;
  }
  #logout{
	cursor: pointer;
	background-color: #B0BEC5; 
	margin-top: 8%;
	margin-left: 42%;
	border-radius: 25%;
	color: black;
	padding: 15px 45px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
  }
  #logoutTitle{
	margin-top: 10%;
	font-size: 40px;
	text-align: center;
  }