<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>Clem_Network</title>
</head>
<body>
    <nav role="navigation">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#">Account</a></li>
          <li><a href="#">Login/Sign Up</a></li>
          <li><a href="#">Post</a></li>
        </ul>
      </nav>

      <content>
        <a name ="home"></a>
        <div class="container">
          <div class = "intro">
                <h1>HELLO!</h1>
                <p>Welcome to The Clem_Network.</p>
              </div>
        <div class = "about-us">
          <div class = "container">
            <div class = "about_us">
            <h1>ABOUT THE WEBSITE</h1>
            <p>This website was based off of the original Clem character from a game called Warframe. This is a full fledged single page social media website where one can post about their day and more. Hope you like it!</p>
            </div>
          </div>
        </div>
      </content>
</body>
</html>