<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>Clem_Network</title>
</head>
<body>
    <nav role="navigation">
        <ul>
          <li><a href="#the-default-view">Home</a></li>
          <li><a href="#nes">NES</a></li>
          <li><a href="#snes">SNES</a></li>
          <li><a href="#n64">N64</a></li>
          <li><a href="#gc">Gamecube</a></li>
        </ul>
      </nav>
      
      <main role="main">
      
        
      </main>
</body>
</html>